asgiref==3.7.2
contourpy==1.1.0
cycler==0.11.0
fonttools==4.40.0
importlib-resources==5.12.0
numpy==1.25.0
packaging==23.1
Pillow==10.0.0
pip==23.1.2
pyparsing==3.1.0
python-dateutil==2.8.2
setuptools==68.0.0
six==1.16.0
sqlparse==0.4.4
wheel==0.40.0
zipp==3.15.0
marshmallow==3.19.0

# testing
pytest==7.4.0
pylint==2.17.4
pytest-cov==4.1.0
pycrunch-engine==1.5.2
